<address class="email" property="email">willow.ch@protonmail.com</address>
<span property="familyName">Carlson-Huber</span>
<span property="gender">Female</span>
<span property="givenName">Willow</span>
<img src="https://en.gravatar.com/userimage/97176759/cd4f8dc5afe66b8abfb9a332ea772737.png" property="image">
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q575650"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q2005"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q978185"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q388"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q48267"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q15206305"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q70876440"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q22661286"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q48971313"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q103819131"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q94"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q3816639"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q223204"></a>
<a property="knowsAbout" href="https://www.wikidata.org/wiki/Q54872"></a>
<a property="knowsLanguage" href="https://www.wikidata.org/wiki/Q1860"></a>
<div property="owns" typeof="Product" resource="https://wolo.dev">
  <span property="name">wolo.dev</span>
  <a property="url" href="https://wolo.dev"></a>
</div>